/* =================
    RESETS
   ================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  display: inline-block;
  width: 100%;
}
html {
  font-size: 62.5%;
}
button,
input {
  font-family: inherit;
  font-size: 100%;
}
/* =================
    VARIABLES
   ================= */
:root {
  --accent-transparent: rgba(0, 119, 182, 0.9);
  --light-gray-transparent: rgba(255, 255, 255, 0.9);
  --pri-text: #222;
  --light-gray: #f0f4f8;
  --accent: #0077b6;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  
  --m-sm: 0.5rem;
  --m-md: 1.5rem;
  
  --p-sm: 0.5rem;
  --p-md: 1rem;
  --p-lg: 1.5rem;
  --p-x-lg: 2.5rem;
  --p-xx-lg: 3rem;
  
  --fz-sm: 1.6rem;
  --fz-md: 2rem;
  --fz-lg: 3rem;
  
  --gap-sm: 0.5rem;
  --gap-md: 1.5rem;
}
/* =================
    BASE ELEMENT STYLES
   ================= */
body,
html {
  height: 100%;
}
body {
  font-family: "roboto", system-ui, sans-serif;
  font-size: var(--fz-sm);
  color: var(--pri-text);
  font-weight: normal;
  line-height: 1.5;
  font-synthesis: none;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}
/* =================
    COMPONENT STYLES
   ================= */
.header {
  position: fixed;
  inset: 0px 0px auto 0pc;
  z-index: 1;
  background: linear-gradient(
      to bottom right,
      var(--accent-transparent),
      var(--light-gray-transparent)
    ),
    url("../images/header-img-removebg.png") no-repeat right top/contain;
  font-family: "playfair", Georgia, serif;
  width: min(1140px, 90%);
  box-shadow: var(--box-shadow);
  margin: 0 auto;
  padding: var(--p-x-lg);
}
.pg-title {
  font-weight: 500;
  font-size: var(--fz-lg);
  img {
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
  }
}

/* Button styles */
.btn {
  background: var(--accent);
  border: none;
  border-radius: 0.5rem;
  color: #f0f4f8;
  padding: var(--p-sm);
  outline: none;
  font-weight: bold;
  transition: color .15s, background .15s ;
  &:hover,
  &:focus-visible {
    background: rgba(0, 118, 182, 0.7);
  }
  &:active {
    background: var(--accent-transparent);
  }
}

.add-book-btn {
  position: fixed;
  z-index: 1;
  bottom: 1rem;
  left: 1rem;
  font-size: var(--fz-md);
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.add-btn__img {
  width: 4rem;
}

.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  grid-gap: var(--gap-md);
  align-content: start;
  background: #f0f4f8;
  justify-content: center;
  align-items: start;
  width: min(1140px, 90%);
  margin: 11.3rem auto 0px;
  padding: var(--p-xx-lg) var(--p-xx-lg) 8rem;
}

/* Book styles */

.book {
padding: var(--p-lg);
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.book__cover-container {
  height: 35rem;
  border-radius: inherit;
  overflow: hidden;
  position: relative;
  margin-bottom: var(--m-md);

  &::after {
    content: attr(data-read-status);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: var(--fz-lg);
    color: var(--accent);
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    inset: 0px;
  }
  &:hover::after {
    display: none;
  }
  &:hover > .book__cover {
    transform: scale(1);
  }
}

.book__cover {
  transform: scale(2);
  height: 100%;
  transition: transform 0.3s ease-out;
}

.book__info *:not(span, p:last-child) {
  margin-bottom: var(--m-sm);
}

.book__modifiers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book__star-ratings {
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-sm);
}

.book__star {
  width: 2rem;
  height: 2rem;
  fill: #ccc;
  path {
    pointer-events: none;
  }
}

.book__star.fill {
  fill: var(--accent);
}

.book__entry {
  font-weight: bold;
  box-shadow: var(--box-shadow);
padding: var(--p-sm) var(--p-x-lg);

  & span {
    font-weight: normal;
  }

  &:not(:last-of-type) {
    margin-bottom: var(--m-sm);
  }
}

.modal {
  position: absolute;
  width: min(40rem, 95%);
  left: 50%;
  top: 50%;
  background: linear-gradient(
      to bottom right,
      var(--light-gray),
      var(--accent)
    );
  transform: translate(-50%, -50%);
  border: none;
  border: 1rem;
  border-radius: 1rem;
  position: relative;
  
  &::backdrop{
    backdrop-filter: blur(5px);
  }
}

.form {
  padding: var(--p-xx-lg);

  & > div {
    margin-bottom: var(--m-md);
  }

  .form__box {
    text-align: center;
    margin-bottom: var(--m-md);
  }

  .form__img {
    width: 9rem;
    margin-bottom: var(--m-md);
  }

  input:not(input[type="checkbox"]) {
    width: 100%;
  padding: var(--p-md);
    border-radius: 0.5rem;
    border: none;
    background: var(--light-gray);
    box-shadow: var(--box-shadow);
    outline: none;

    &:focus-visible {
      outline: 2px solid var(--light-gray);
      outline-offset: 2px;
    }
  }
  label {
    font-size: var(--fz-sm);
    display: inline-block;
    margin-bottom: var(--m-sm);
  }
  .form__required-mark {
    color: var(--accent);
    font-size: var(--fz-md);
    word-break: font-weight: bold;
  }
}

.form-btns {
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-md);
}
.form__btn {
  border: 1px solid #fff;

  &:hover,
  &:focus-visible {
    background: var(--light-gray);
    color: var(--accent);
  }
  &:active {
    color: var(--light-gray);
  }
}