/* =================
    RESETS
   ================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  display: inline-block;
  width: 100%;
}
html {
  font-size: 62.5%;
}
button,
input {
  font-family: inherit;
  font-size: 100%;
}
/* =================
    VARIABLES
   ================= */
:root {
}
/* =================
    UTILITY CLASSES
   ================= */

/* =================
    BASE ELEMENT STYLES
   ================= */
body,
html {
  height: 100%;
}
body {
  font-family: "roboto", system-ui, sans-serif;
  font-size: 1.6rem;
  color: var(--bdy-text-clr);
  font-weight: normal;
  line-height: 1.5;
  font-synthesis: none;
  text-transform: capitalize;
}
/* =================
    COMPONENT STYLES
   ================= */

.header {
  background: linear-gradient(
      to bottom right,
      rgba(0, 119, 182, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../images/header-img.jpg") no-repeat right top/contain;
  font-family: "playfair", Georgia, serif;
  width: min(1140px, 90%);
  position: relative;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 2.5rem;
}
.pg-title {
  font-weight: 500;
  font-size: 3.5rem;
  img {
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
  }
}

/* Button styles */

/* defualt style */
.btn {
  background: #0077b6;
  border: none;
  border-radius: 0.5rem;
  color: #f0f4f8;
  padding: 0.5em;
  outline: none;
  font-weight: bold;
  transition: color .15s, background .15s ;
  &:hover,
  &:focus-visible {
    background: rgba(0, 118, 182, 0.7);
  }
  &:active {
    background: rgba(0, 118, 182, 0.8);
  }
}

.add-btn {
  position: fixed;
  z-index: 1;
  bottom: 1rem;
  left: 1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.add-btn__img {
  width: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  grid-gap: 1.5rem;
  align-content: start;
  background: #f0f4f8;
  justify-content: center;
  align-items: start;
  width: min(1140px, 90%);
  height: 100%;
  margin: 0 auto;
  padding: 3rem;
}

/* Book styles */

.book {
  padding: 1.5rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.book__cover {
  height: 35rem;
  border-radius: inherit;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.5rem;

  &::after {
    content: attr(data-read);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    color: #0077b6;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    inset: 0px;
  }
  &:hover::after {
    display: none;
  }
  &:hover > .book__img {
    transform: scale(1);
  }
}

.book__img {
  transform: scale(2);
  transition: transform 0.3s ease-out;
}

.book__info *:not(span, p:last-child) {
  margin-bottom: 0.6rem;
}

.book__star-ratings {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.book__star {
  width: 2rem;
  height: 2rem;
  fill: #ccc;
}

.book__star.fill {
  fill: #0077b6;
}

.book__entry {
  font-weight: bold;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1.5rem;

  & span {
    font-weight: normal;
  }

  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
}

.modal {
  position: absolute;
  width: min(40rem, 95%);
  left: 50%;
  top: 50%;
  background: linear-gradient(
      to bottom right,
      #f0f4f8,
      #0077b6
    );
  transform: translate(-50%, -50%);
  border: none;
  border: 1rem;
  border-radius: 1rem;
  position: relative;
}

.form {
  padding: 3.5rem;

  & > div {
    margin-bottom: 1.5rem;
  }

  .form__box {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .form__img {
    width: 9rem;
    margin-bottom: 1rem;
  }

  input:not(input[type="checkbox"]) {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    background: #f0f4f8;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    outline: none;

    &:focus-visible {
      outline: 2px solid #f0f4f8;
      outline-offset: 2px;
    }
  }
  label {
    font-size: 1.8rem;
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  .form__requied-mark {
    color: #0077b6;
  }

}

.form-btns {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}
.form__btn {
  border: 1px solid #fff;

  &:hover,
  &:focus-visible {
    background: #f0f4f8;
    color: #0077b6;
  }
  &:active {
    color: #f0f4f8;
  }
}
